In [3]:
import pandas as pd
import json

In [4]:
# Đọc dữ liệu từ file JSON
with open('data.json') as f:
    data = json.load(f)

# Xử lý dữ liệu: Tách từng cặp key-value
for key, value in data.items():
    print(f"Key: {key}, Value: {value}")

Key: parameter
Key: location
Key: vehicle
Key: demand
Key: time_matrix

In [5]:
data.keys()

dict_keys(['parameter', 'location', 'vehicle', 'demand', 'time_matrix'])

In [9]:
parameter, location, vehicle, demand, time_matrix = data['parameter'], data['location'], data['vehicle'], data['demand'], data['time_matrix']

In [7]:
parameter

{'algorithm': 'DCA-CUT',
 'module': '1D',
 'date': '1/07/2019',
 'show_status_algorithm': False,
 'save_final': False,
 'save_screen': False}

In [10]:
location_df, vehicle_df, demand_df, time_matrix_df = pd.DataFrame(location), pd.DataFrame(vehicle), pd.DataFrame(demand), pd.DataFrame(time_matrix)

In [14]:
location_df.head()

   point_id  point_type_id   latitude   longitude
0         1              1  21.093857  105.966710
1         2              1  20.864887  105.772724
2         3              1  21.088335  105.659865
3       100              2  21.027822  105.899242
4       101              2  20.928054  105.803985

In [15]:
vehicle_df.head()

   0    1    2        3    4     5     6      7    8     9     10
0   1  1.4  1.4  9.08480  2.0  0.72  0.06  0.112  0.0  90.0  30.0
1   2  1.4  1.4  9.08480  2.0  0.72  0.06  0.112  0.0  90.0  30.0
2   3  1.4  1.4  9.08480  2.0  0.72  0.06  0.112  0.0  90.0  30.0
3   4  1.4  1.4  9.08480  2.0  0.72  0.06  0.112  0.0  90.0  30.0
4   5  1.9  1.9  9.77952  2.0  0.85  0.06  0.152  0.0  90.0  30.0

In [16]:
demand_df.head()

       0  1     2        3         4    5
0  41960  2  2066  116.837  0.664846  193
1  41961  2  2066    0.648  0.003822   12
2  41962  2  2066   34.550  0.077774  166
3  41963  3  2066  113.700  0.985910  288
4  41964  3  2066   21.010  0.100295  103

In [17]:
time_matrix_df.head()

     0      1    2    3
0  1.0    2.0  0.0  0.0
1  1.0    3.0  0.0  0.0
2  1.0  100.0  0.0  0.0
3  1.0  101.0  0.0  0.0
4  1.0  102.0  0.0  0.0

In [12]:
location_df.rename(columns={0: 'point_id', 1: 'point_type_id', 2: 'latitude', 3: 'longitude'}, inplace=True)

In [18]:
vehicle_df.rename(columns={0: 'vehicle_id', 1: 'registeredtonnage', 2: 'convertedtonnage', 3: 'cbm', 4: 'point_belong_id', 5: 'unloading_time_point_end', 6: 'loading_time_point_depart', 7: 'unloading_time_point', 8: 'cost_fixed', 9: 'cost_unloading_point', 10: 'cost_loading_point'}, inplace=True)

In [19]:
demand_df.rename(columns={0: 'item_id', 1: 'point_from', 2: 'point_to', 3: 'item_weight', 4: 'item_volume', 5: 'item_qty'}, inplace=True)

In [20]:
time_matrix_df.rename(columns={0: 'point_from_id', 1: 'point_to_id', 2: 'distance', 3: 'travel_time'}, inplace=True)

In [22]:
# Ghi vào một file Excel với mỗi DataFrame là một sheet
with pd.ExcelWriter('input_1D.xlsx') as writer:
    location_df.to_excel(writer, sheet_name='location', index=False)
    vehicle_df.to_excel(writer, sheet_name='vehicle', index=False)
    demand_df.to_excel(writer, sheet_name='demand', index=False)
    time_matrix_df.to_excel(writer, sheet_name='time_matrix', index=False)